# frozen_string_literal: true

module {{GEM_MODULE}}
  module Parsers
    class DefaultParser < Drasil::Parser
      def parse
        data = @response[:data]
        metadata = {
          total_pages: @response[:total_pages],
          page: @response[:page]
        }

        [data, metadata]
      end
    end
  end
end
